.navigate {
  display: flex;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.6s ease 0s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.navigate__opened {
  visibility: visible;
  opacity: 1;
}

.navigate__container {
  background-color: #ffffff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 520px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
}

.navigate__close-button {
  position: absolute;
  width: 22px;
  height: 22px;
  background: transparent url("../../images/close.svg") no-repeat center center;
  border: none;
  background-color: transparent;
  float: right;
  top: 22.44px;
  right: 22.44px;
  cursor: pointer;
}

.navigate__close-button:hover {
  opacity: 0.8;
}

.navigate__links {
  margin: 0 auto;
  padding: 159px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.navigate__link {
  padding-bottom: 4px;
  text-decoration: none;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
  z-index: 100;
}

.navigate__link:hover {
  opacity: 0.8;
}

.navigate__link:first-of-type {
  margin-bottom: 24px;
}

.navigate__link:last-of-type {
  margin-top: 24px;
}
.navigate__link_active {
  border-bottom: 2px solid #000000;
}

.navigate__profile-img {
  padding-right: 7px;
  width: 12px;
  height: 14px;
}

.navigate__profile-button {
  width: 100px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 25px;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 90px;
  cursor: pointer;
}

.navigate__profile-button {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .navigate__container {
    width: 320px;
  }

  .navigate__close-button {
    top: 13.44px;
    right: 13.44px;
  }

  .navigate__links {
    padding: 144px 0 0 0;
  }

  .navigate__link {
    padding-bottom: 7px;
  }

  .navigate__profile-button {
    margin-bottom: 46px;
  }

  .login__logo-link {
    justify-content: center;
    display: flex;
  }
}
