.about-project {
    max-width: calc(100% - 140px);
    padding: 110px 70px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }
  
  .about-project__title {
    max-width: 100%;
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #000000;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
  }
  
  .about-project__grid {
    padding-top: 70px;
    padding-bottom: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 40px;
    column-gap: 30px;
  }
  
  .about-project__subtitle {
    margin: 0;
    padding-bottom: 26px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }
  
  .about-project__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  
  .about-project__progress {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 14px;
  }
  
  .about-project__info {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  .about-project__block-green {
    background-color: #2BE080;
    color: #000000;
  }
  
  .about-project__block-grey {
    background-color: #F2F2F2;
    color: #000000;
  }
  
  
  @media screen and (max-width: 1023px) {
    .about-project {
    max-width: 768px;
    padding: 90px 50px;
    margin: 0 auto;
    }
  
    .about-project__grid {
      padding-top: 70px;
      padding-bottom: 93px;
      row-gap: 30px;
      column-gap: 22px;
    }
  
    .about-project__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
  
    .about-project__subtitle {
     max-width: 319px;
    }
  
  }
  
  @media screen and (max-width: 767px) {
    .about-project {
     max-width: 320px;
     padding: 70px 18px;
     margin: 0 auto;
    }
  
    .about-project__grid {
      padding-top: 60px;
      padding-bottom: 60px;
      row-gap: 56px;
      grid-template-columns: 100%;
    }
  
    .about-project__text {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      margin: 0;
    }
  
    .about-project__subtitle {
     max-width: 284px;
     font-size: 18px;
     line-height: 22px;
     padding-bottom: 16px;
    }
  
    .about-project__title {
      margin: 0;
      padding-bottom: 28px;
      font-size: 18px;
      line-height: 22px;
    }
  
    .about-project__info {
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      padding-top: 11px;
      padding-bottom: 11px;
    }
  
    .about-project__progress {
      row-gap: 10px;
    }
  }
  